<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238793520961-gcfl8qshr58vo28tc22u9kts3748n5dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238793520961-gcfl8qshr58vo28tc22u9kts3748n5dp</string>
	<key>API_KEY</key>
	<string>AIzaSyD8P_becBL9PPaj5-M7nWK2AcMVTvivqXI</string>
	<key>GCM_SENDER_ID</key>
	<string>238793520961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodegaapp</string>
	<key>PROJECT_ID</key>
	<string>foodegaapp-7f097</string>
	<key>STORAGE_BUCKET</key>
	<string>foodegaapp-7f097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238793520961:ios:631c1d906a58b46dc5d3c0</string>
</dict>
</plist>